.servicios-container {
  .header-servicios {
    background: linear-gradient(92deg, #018f83 -0.47%, #00c6a2 44.65%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    height: 532px;
    .header-img-container {
      width: 502px;
      height: 517px;

      .header-img {
        height: 120%;
      }
    }

    .header-text {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 70px;
      text-align: center;
      .servicios-titulo {
        color: var(--Colores-diseo-alta-Blanco, #fff);
        font-feature-settings: "clig" off, "liga" off;
        /* Tipografias diseño alta/Heading 1 Bold */
        font-family: Montserrat;
        font-size: 61.04px;
        font-style: normal;
        font-weight: 700;
        line-height: 61.04px;
        text-align: center;

        /* 100% */
      }

      .servicios-parrafo {
        color: var(--Colores-diseo-alta-Blanco, #fff);
        font-feature-settings: "clig" off, "liga" off;

        /* Tipografias diseño alta/Heading 4 */
        font-family: Montserrat;
        font-size: 31.25px;
        font-style: normal;
        font-weight: 400;
        line-height: 31.25px;
        /* 100% */
      }
    }
  }

  .servicios-section {
    display: flex;
    justify-content: center;

    .servicios {
      display: flex;
      width: 1125px;
      height: 908px;
      padding: 7px 101px;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 16px 27px;
      flex-shrink: 0;
      flex-wrap: wrap;
      .servicio {
        display: flex;
        gap: 27px;
      }
      .servicio-titulo {
        color: var(--Colores-diseo-alta-Color-Primario, #00cba6);
        font-feature-settings: "clig" off, "liga" off;

        /* Tipografias diseño alta/Heading 4 Bold */
        font-family: Montserrat;
        font-size: 31.25px;
        font-style: normal;
        font-weight: 700;
        line-height: 31.25px;
        /* 100% */
      }

      .servicio-parrafo {
        color: var(--Colores-diseo-alta-Negro, #000);
        font-feature-settings: "clig" off, "liga" off;

        /* Body hero */
        font-family: Montserrat;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 100% */
      }
    }
  }

  .accion {
    background: var(--Colores-diseo-alta-Color-Primario, #00cba6);
    display: flex;
    height: 308px;
    padding: 39px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .accion-contenido {
      display: flex;

      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 33px;
      flex-wrap: wrap;

      .accion-titulo {
        color: var(--Colores-diseo-alta-Blanco, #fff);
        text-align: center;
        font-feature-settings: "clig" off, "liga" off;
        width: 576px;
        /* Tipografias diseño alta/Heading 3 Bold */
        font-family: Montserrat;
        font-size: 39.06px;
        font-style: normal;
        font-weight: 700;
        line-height: 39.06px;
        /* 100% */
      }

      .accion-btn {
        .accion-btn {
          display: flex;
          padding: 16px 23px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 25px;
          background: #fff;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          color: var(--Colores-diseo-alta-Color-Primario, #00cba6);
          text-align: center;
          font-feature-settings: "clig" off, "liga" off;
          /* Tipografias diseño alta/Heading 4 Bold */
          font-family: Montserrat;
          font-size: 31.25px;
          font-style: normal;
          font-weight: 700;
          line-height: 31.25px; /* 100% */
          border: hidden;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
