.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 681px;
  padding: 0px 142px;
  flex-wrap: wrap-reverse;
  background-repeat: no-repeat;
  
  .header-info {
    display: flex;
    max-width: 628.594px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 49.219px;
    flex: 1 0 0;


    .header-text {
      display: flex;
      max-width: 628.594px;
      flex-direction: column;
      align-items: flex-start;
      gap: 26.719px;
    }

    .titulo {
      color: #00CBA6;
      font-family: Montserrat;
      font-size: 48.83px;
      font-style: normal;
      font-weight: 700;
      line-height: 48.83px;
    }

    .parrafo-header {
      font-family: Montserrat;
      color: var(--Colores-diseo-alta-Negro, #000); 
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }

    .btn-header {
      color: #FFF;
      font-feature-settings: 'clig' off, 'liga' off;
      /* Botton */
      font-family: Montserrat;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
      /* 100% */
      border-radius: 42.188px;
      background: var(--Colores-diseo-alta-Negro, #000);
      box-shadow: 5.625px 5.625px 5.625px 0px rgba(0, 0, 0, 0.25);
      display: flex;
      padding: 23.906px 18.281px;
      justify-content: center;
      align-items: center;
      gap: 14.063px;
    }
  }

  .img-header-container {
    width: 509px;
    flex-shrink: 0;
    align-self: stretch;

    .header-img {
      width: 100%;
    }
  }
}



@media (max-width: 870px) {}