.nav {
    display: flex; 
    padding: 20px 27px;
    justify-content: space-between;
    align-items: center;
}

.bg-light {
    background-color: transparent;
}

.logo {
    width: 50px;
}

.links {
    display: flex;
justify-content: center;
align-items: center;
gap: 110px;
align-self: stretch; 
    font-family: "Montserrat";
}