@import "../../Medidas";

.contacto-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  @include tablet2 {
    justify-content: space-around;
    gap: 0px;
    width: 90%;
  }

  @include tablet {
    justify-content: space-around;
    gap: 0px;
    width: 100%;
    margin: 0px;
  }

  @include mobile {
    gap: 0px;
    justify-content: space-around;
    height: 300px;
    margin: 0px;
    margin-top: 40px;
  }
  .contacto-vector {
    img {
      width: 98%;
    }

    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }
  .contacto-info-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-top: 100px;
    @include tablet {
      width: 300px;
      gap: 20px;
    }

    @include mobile {
      gap: 0px;
      margin-top: 20px;
      width: 180px;
    }
    .contacto-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
      text-align: center;

      @include mobile {
        width: 180px;

        margin-bottom: 10px;
      }
      .info-titulo {
        color: var(--Colores-diseo-alta-Negro, #000);
        font-feature-settings: "clig" off, "liga" off;
        font-family: Montserrat;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        text-transform: uppercase;

        @include tablet {
          font-size: 30px;
          width: 300px;
        }
        @include mobile {
          font-size: 15.46px;
          width: 126px;
          line-height: 20px;
        }
      }
      .contacto-btn,
      .postularme-btn {
        color: #fff;
        text-align: center;
        font-feature-settings: "clig" off, "liga" off;
        font-family: "DM Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 26.321px; /* 119.642% */

        padding: 17px 13px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        background: var(--Colores-diseo-alta-Negro, #000);
        width: 280px;
        border: solid var(--Colores-diseo-alta-Negro, #000);
        align-items: center;
        margin-top: 35px;

        @include tablet {
          font-size: 20px;
          width: 230px;
          padding: 10px;
          margin-top: 20px;
        }

        @include mobile {
          font-size: 9.05px;
          width: 110px;
          padding: 0px;
          margin-top: 10px;
        }
      }
      .postularme-btn {
        color: var(--Colores-diseo-alta-Color-Primario, #00cba6);
        background: #fff;
        border: solid #00cba6;
      }
    }
  }
  .contacto-img {
    height: 683px;
    width: 400px;
    object-fit: cover;
    margin-top: 65px;

    @include tablet {
      height: 583px;
      width: 400px;
    }

    @include mobile {
      display: none;
    }
  }
  .contacto-img-comb {
    display: none;
    @include mobile {
      display: inline-flex;
      margin-bottom: 120px;
      margin-right: 70px;
    }
  }
  .footer-iconos-mail {
    @include tablet {
      height: 200px;
    }
    @include mobile {
      margin-left: 150px;
      height: 100px;
    }
  }
  .icons {
    img {
      @include mobile {
        width: 25px;
      }
    }
  }
}
