// App.scss
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.home {
  margin: 0 auto;

  background: url("./assets/test.svg") left top no-repeat,
    url("./assets/testt.svg") right top no-repeat;
  background-size: 450px auto, 227.826px auto; // Ajusta los tamaños según tus necesidades
  background-position: 0px 500px, calc(100% - 0px) 500px; // Ajusta las posiciones según tus necesidades
}
