@import "./components/NavBar/NavBar";
@import "./components/Header/Header";
@import "./components/Nosotros/Nosotros";
@import "./components/Servicios/Servicios";
//Estilos de boostrap
@import "bootstrap/dist/css/bootstrap.min.css";



